/*/lib/
/*/build/
/*/nbproject/
/*/test/
*.txt
*.xml
*.mf
/week9-week9_26.PhoneSearch/dist/
/week10-week10_33.Dungeon/dist/
/week11-week11_37.Survey/dist/
/week11-week11_40.Calculator/dist/
/week11-week11_43.GameOfLife/dist/
/week12-week12_47.FlexibleFilteringCriteria/dist/
/week12-week12_49.WormGame/dist/